<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">



	<title>Diper</title>
</head>
<header style="background-color: #ffffff;">
	<div class="clase1" style="background-color: #ffffff;">
		<div class="clase2" style="top:20px">
			<img src="assets/logodiper.png" alt="Diper" style="padding: 15px; height: 75%; width: 75%;">
    </div>
    <div class="clase3" style="top:20px" >
      
      <mat-grid-list cols="1" rowHeight="90px" >
        <mat-grid-tile>
          <form >
            
            <mat-form-field appearance="outline" style="width:110px !important;padding-right: 15px;
            padding-left: 15px;">
              <mat-label>Fecha</mat-label>
              <input matInput placeholder="Fecha" value="{{jsfecha}}" readonly="true">
            </mat-form-field>          
            </form>
        </mat-grid-tile>
        <mat-grid-tile>
          <form >
            <mat-form-field appearance="outline" style="width:110px !important">
              <mat-label>Pedido</mat-label>
              <input matInput placeholder="Fecha" value="{{jsfecha}}" readonly="true">
            </mat-form-field>
            </form>
        </mat-grid-tile>
      </mat-grid-list>
      

    </div>
    
  
  </div>
</header>

<body style="background-color: #e6ffcc; height: 100%;">
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="clase5" style="background-color: white; top:20px; " >
    <label style="top: 20px; width:auto; font-size:26px; font-weight: bold; padding-right: 50%">Datos de Cliente</label>
    
        <mat-form-field appearance="standard" style="top:10px;margin-left: auto; width:auto !important; padding-right: 4%;">
          <mat-label>No. Cliente</mat-label>
          <input matInput placeholder="Fecha" value="Nombre" readonly="true">            
        </mat-form-field>
        <button color=primary mat-flat-button (click)="visibilidad = !visibilidad">{{visibilidad ? 'Ocultar' : 'Buscar'}}</button>
        
    <hr>
    
    <br><br>
    <form name="datos_Cliente" *ngIf="visibilidad">
    <mat-form-field appearance="standard" style="width:47% !important; padding-right: 6%">
      <mat-label>Cliente</mat-label>
      <input matInput placeholder="Fecha" value="Nombre" readonly="true">            
    </mat-form-field>
    <mat-form-field appearance="standard" style="width:47% !important; padding-right: 0%">
      <mat-label>RFC</mat-label>
      <input matInput placeholder="Fecha" value="Nombre" readonly="true">            
    </mat-form-field>
    <mat-form-field appearance="standard" style="width:47% !important; padding-right: 6%">
      <mat-label>Domicilio</mat-label>
      <input matInput placeholder="Fecha" value="Nombre" readonly="true">            
    </mat-form-field>
    <mat-form-field appearance="standard" style="width:47% !important; padding-right: 0%">
        <mat-label>Colonia</mat-label>
        <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard" style="width:47% !important; padding-right: 6%">
          <mat-label>Ciudad</mat-label>
          <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width:47% !important; padding-right: 0%">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Fecha" value="Nombre" readonly="true">            
          </mat-form-field>
          <mat-form-field appearance="standard" style="width:47% !important; padding-right: 6%">
              <mat-label>Telefono</mat-label>
              <input matInput placeholder="Fecha" value="Nombre" readonly="true">            
            </mat-form-field>
            <mat-form-field appearance="standard" style="width:47% !important; padding-right: 0%">
                <mat-label>Persona</mat-label>
                <input matInput placeholder="Fecha" value="Nombre" readonly="true">            
              </mat-form-field>
              <mat-form-field appearance="standard" style="width:47% !important; padding-right: 6%">
                  <mat-label>Consignar</mat-label>
                  <input matInput placeholder="Fecha" value="Nombre" readonly="true">            
                </mat-form-field>
                <mat-form-field appearance="standard" style="width:47% !important; padding-right: 0%">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="Fecha" value="Nombre" readonly="true">            
                  </mat-form-field>                  
    </form>
  </div>

  <br><br>
  <div class="clase5" style="background-color: white; top:20px" >
    
      <label style="top: 20px; width:40%; font-size:26px; font-weight: bold">Pedido</label>
    
      <mat-form-field appearance="standard" style="top:10px;margin-left: auto; width:17% !important; padding-right: 4%;visibility: hidden">
        <mat-label>No. Cliente</mat-label>
        <input matInput placeholder="Fecha" value="Nombre" readonly="true" >                    
      </mat-form-field>
      
      <button style="margin-left: 10px" mat-flat-button (click)="muebles[muebles.length] = muebles.length">Agregar Item</button>
      <button color=warn style="margin-left: 10px" mat-flat-button (click)="muebles.pop(muebles.length)" *ngIf="muebles.length>0">Eliminar Item</button>    
    <hr>
    
    <br><br>
    <div *ngFor="let index of muebles">
      <label>
        Alias:
        <input type="text" [formControlName]="i">
      </label>  
        Hola {{index+1}}
    </div>
    </div>
  
</body>
<footer>

</footer>
</html>