.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
.clase1{
    position: relative;
  min-height: 1px;
  top: 20px;
  padding-bottom: 20px;
  }
  .clase2{
    position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  }

  .clase3{
    position: relative;
  min-height: 1px;
  min-width: 300px;
  padding-right: 10px;
  padding-left: 10px;
  
  }
  .clase4{
    position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 6.3333333%;

  }

  .clase5{
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 7%;
    margin-right: 7%;
    align-content: center;
    align-self: center;
    width: 80%;
  }
  .sig-container {
    border-style: solid;
    border-width: 2px;
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
  }
  
  .sig-container canvas {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
  }